<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>@Localizer["Contact"]</h2>
    <p>@Localizer["ContactDescription"]</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
      <div class="row gy-5">

        <div class="col-lg-4">
          <div class="info-item d-flex align-items-center">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>@Localizer["Adress"]</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-4">
          <div class="info-item d-flex align-items-center">
            <i class="bi bi-send flex-shrink-0"></i>
            <div>
              <h3>Telegram</h3>
              <p>
                <a href="https://t.me/@@mehmetcakmak1" target="_blank" style="color: inherit; text-decoration: none;">
                  @@mehmetcakmak1
                </a>
              </p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-lg-4">
          <div class="info-item d-flex align-items-center">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email</h3>
              <p>info@example.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>
    </div>

    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
      <div class="row gy-4">

        <div class="col-md-6">
          <input type="text" name="name" class="form-control" placeholder="@Localizer["ContacName"]" required="">
        </div>

        <div class="col-md-6 ">
          <input type="email" class="form-control" name="email" placeholder="@Localizer["ContactEmail"]" required="">
        </div>

        <div class="col-md-12">
          <input type="text" class="form-control" name="subject" placeholder="@Localizer["ContactSubject"]" required="">
        </div>

        <div class="col-md-12">
          <textarea class="form-control" name="message" rows="6" placeholder="@Localizer["ContactMessage"]" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
          <div class="loading">@Localizer["Loading"]</div>
          <div class="error-message"></div>
          <div class="sent-message">@Localizer["ContactSendedMessage"]</div>

          <button type="submit">@Localizer["ContactSendMessage"]</button>
        </div>

      </div>
    </form><!-- End Contact Form -->

  </div>

</section><!-- /Contact Section -->